
body{
	margin:0;
	padding:0;
	font-size:14px;
	background:#fcfcfc;
	font-family: 'Roboto', sans-serif;
}

a{
	color:#00baff;
	cursor:pointer;
}

h2{
	margin:0;
	color:#555;
	padding-bottom:15px;
	font-family:'Passion One', cursive;
	color:#9ba9bf;
	font-weight:100;
}

.overlay{
	background-color: rgba(0, 0, 0, 0.8);
	width:100%;
	height:100%;
	z-index:2;
	top:0;
	position:fixed;
	overflow:auto;
	display:none;
}

.overlayclose
{
	position:absolute;
	top:15px;
	width:100%;
}

.overlayclosetext
{
	color:white;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

.overlaybox{
	position:relative;
	max-width:960px;
	margin:50px auto 0 auto;
	background:white;
}

h2.ranking
{
	color:white;
	font-family:'Passion One', cursive;
	font-size:1em;
	margin:0;
	padding:0;
	color:#2b374c;
}

.gold {
	color:#FFD700;
}

.silver {
	color:#C0C0C0;
}

.bronze {
	color:#cd7f32;
}

.padbox-left
{
	padding:15px 15px 15px 0;
}

.padbox-right
{
	padding:15px 0 15px 15px;
}

.top-head{
	width:100%;
	background:#2b374c;
	text-align:center;
	font-size:1.1em;
	color:white;
}

.menuarea{
	max-width:960px;
	margin:0 auto;
}

.menuarea ul{
	display: inline-block;
    list-style-type: none;
    width: 100%;
    letter-spacing: -0.31em;
    padding: 0;
    margin: 0;
}

.menuarea li{
	width: 33.3%;
    display: inline-block;
    letter-spacing: normal;
    position: relative;
}

.menuarea li > a
{
	text-align: center;
	padding: 10px 0;
	display:block;
	color:white;
	text-decoration:none;
	cursor:pointer;
}

.menuarea li > a:hover{
	background:#33435e;
}

.ledger{

	margin:25px auto;
	max-width:960px;
	padding:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ledgerinfo{
	padding:10px;
	border-bottom:1px solid #CCC;
}

.ledgerinfotext{
	max-width:960px;
	margin:0 auto;
	text-transform: uppercase;
	color:#666;
	font-size:0.9em;
}

.hero-header{
	background:#33435e;
	width:100%;
	padding:20px 0;
}

.hero-header h1{
	color:white;
	margin:0;
	text-align:center;
}

.hero-header input[type=text] {
	width:100%;
	padding:15px;
	border:none;
	font-size:1.5em;
	color:#33435e;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hero-header p {
	color:white;
	margin:0 0 5px 0;
	padding:0;
	font-size:1.2em;
}

.ioarea{
	max-width:960px;
	margin:0 auto;
}

.errorarea{
	max-width:960px;
	margin:15px auto;
	background:white;
	padding:10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.errorarea p {
	color:#33435e;
	margin:0 0 5px 0;
	padding:0;
	font-size:1.4em;
	text-align:center;
	font-weight:bold;
}

.userstatsarea{
	max-width:960px;
	margin:15px auto;
	background:white;
}

.tradesstatbox{
	background:#33435e;
	padding:20px;
	text-align:center;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tradesstatboxwhite{
	background:white;
}

.tradesstatboxwhite p
{
	color:#777 !important;
}

.tradesstatbox h2
{
	color:white;
	font-family:'Passion One', cursive;
	font-size:1.5em;
	margin:0;
	padding:0;
	color:#9ba9bf;
}

.tradesstatbox h2.icon
{
	color:white;
	font-family:'Passion One', cursive;
	font-size:1em;
	margin:0;
	padding:0;
	color:#9ba9bf;
}

.tradesstatbox p
{
	margin:0;
	padding:0;
	color:white;
	font-size:2em;
}



.entrylist:nth-child(odd) {
	background:#eeeeee;
}

.transaction {

	font-size:1.2em;
	color:#777;
	padding:10px;
	text-align:center;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);

}

.addmore{
	margin-top:15px;
	font-size:1.2em;
	color:white;
	padding:15px;
	color:white;
	text-align:center;
	background:#00baff;
	font-weight:bold;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.addmore:hover{
	background:#07b4f5;
}

.change
{
	text-align:center;
	font-weight:bold;
	color:white;
	background:#2b374c;
	font-size:1.2em;
	padding:10px;
}

.change-green
{
	color:#87e492;
}

.change-red
{
	color:#ff8989;
}

.change-date
{
	font-size:0.9em;
	color:#f4f4f4;
	text-align:center;
	font-weight:100;
	color:white;
}



